{{define "sidebar"}}
    <style>
	.sidebar {
		border-radius: 2px;
		background: var(--accent-color);
		padding: 40px 0 20px 40px;
		width: 250px;
	}

	.sidebar_item {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 33px;
		column-gap: 45px;
		width: 302px;
		height: 80px;
	}

	.sidebar_items {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}

	.sidebar_link {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		color: var(--alt-text-color);
		font-family: Roboto, sans-serif;
		font-size: 1.1rem;
		column-gap: 10px;
		text-decoration: none;
	}

    </style>
    <aside class="sidebar">
                <section class="sidebar_items">
	
		
		<a class="sidebar_link" href="admin/messages.html">
			<span class="sidebar_text">Messages</span>
                </a>
		
	
		
		<a class="sidebar_link" href="admin/chats.html">
			<span class="sidebar_text">Chats</span>
                </a>
		
	
		
	
                </section>
            </aside>
{{end}}

