{{define "subject"}}Reset your password{{end}}

{{define "plainBody"}}
Hi,

Please visit the following link to reset your password:

{{.baseURL}}reset_password.html?reset_token={{.passwordResetToken}}

Thanks,

{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<p>Hi,</p>
		<p>Please visit the following link to reset your password:</p>
		<p><a href="{{.baseURL}}reset_password.html?reset_token={{.passwordResetToken}}">{{.baseURL}}reset_password.html?reset_token={{.passwordResetToken}}</a></p>
		<p>Thanks,</p>
	</body>
</html>
{{end}}
